body {
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 8vh;
    display: flex;
    background-color: rgb(179, 179, 179);
    align-items: center;
}

.icon, .page-name {
    display: flex;
}

.icon {
    width: 20%;
}

.page-name {
    width: 80%;
    justify-content: center;
    padding-right: 15%;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    display: inline-block;
    font-size: 1rem;
    margin: 0 1vw;
}

main {
    height: 78vh;
}
h1 {
    text-align: center;
}

p {
    text-align: justify;
}


footer {
    height: 10vh;
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: space-between;
}

.container-footer p{
    color: white;
    font-style: italic;
}

.rights, .terms {
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
}

.rights img {
    height: 20%;
    object-fit:cover;
    margin-right: 1vw;
}

.terms{
    justify-content: center;
}

.terms p {
    display: inline-block;
    margin-left: 1vw;
}

.terms a{
    text-decoration: none;
    font-style: normal;
    color: inherit;
}