body {
    font-family: arial;
}

header {
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: rgb(179, 179, 179);
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}